body {
	min-width: 360px;
	padding-bottom: 34px;
}

.navbar h4 {
	margin-right: 5px;
	margin-top: 13px;
	margin-bottom: 8px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
}

.navbar {
	margin-bottom: 9px;
}

.hide {
	display: none;
}

.btn {
	padding: 3px 6px;
}

.clickable {
	cursor: pointer;
}

.navbar-brand {
	height: 32px;
	padding: 15px 11px;
	float: none;
	vertical-align: top;
}

.navbar .btn-default {
	margin-right: 5px;
	margin-top: 7px;
}

.navbar .btn-primary, .btn-danger {
	margin-top: 7px;
	margin-right: 10px;
}

li .btn-warning {
	padding: 0px 5px;
}

.modal-footer {
	padding: 8px;
}

.stripes {
	width: 100%;
	height: 100%;
	
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px; /* Controls the size of the stripes */
	
	-moz-box-shadow: 1px 1px 8px gray;
	-webkit-box-shadow: 1px 1px 8px gray;
	box-shadow: 1px 1px 8px gray;
}

.angled-135 {
	background-color: #565658;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%,
						transparent 75%, transparent);
}

.info {
	width: 55%;
	padding: 50px;
	top: 50%;
	left: 50%;
	line-height: 1.5;
	font-size: larger;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.error {
	width: 55%;
	padding: 50px;
	top: 50%;
	left: 50%;
	line-height: 1.5;
	font-size: larger;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.status {
	padding: 4px 3px;
	border-radius: 5px;
	margin-top: 7px;
	margin-right: 5px;
	cursor: default;
	display: inline-block;
}

.status > div {
	position: relative;
	width: 20px;
	height: 20px;
	text-align: center;
}

.description {
	border: solid black 1px;
	border-radius: 4px;
}

.working-animation {
	-moz-animation: blink 2s infinite;
	-webkit-animation: blink 2s infinite;
	animation: blink 2s infinite;
}

@keyframes blink {
	0%   { background-color: hsl(0, 75%, 50%); }
	50%  { background-color: hsl(0, 0%, 50%); }
	100% { background-color: hsl(0, 75%, 50%); }
}

@-webkit-keyframes blink {
	0%   { background-color: hsl(0, 75%, 50%); }
	50%  { background-color: hsl(0, 0%, 50%); }
	100% { background-color: hsl(0, 75%, 50%); }
}

@-moz-keyframes blink {
	0%   { background-color: hsl(0, 75%, 50%); }
	50%  { background-color: hsl(0, 0%, 50%); }
	100% { background-color: hsl(0, 75%, 50%); }
}

.nav > li > a {
	padding: 6px 5px;
}

.tablist {
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-color: white;
}