<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="UPM-ETSIINF" name="detailvolume-widget" version="0.6.0">
  <details>
    <title>Detail Volume</title>
    <email>bgrana@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>FIDASH widget that shows the details of an openStack volume</description>
    <authors>bgrana</authors>
  </details>
  <requirements>
    <feature name="StyledElements" />
  </requirements>
  <wiring>
    <inputendpoint name="volume_id" type="text" label="Volume ID" description="Receives volume ID and OpenStack service token." friendcode="volume_id"/>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="25" width="5"/>
</widget>
